
.img-wrapper {
    /* margin: 20px 0 20px 0; */
    position: relative;
    display: inline-block;
}
.img-wrapper img {
    max-width: 150px;
    display: block;
    border-radius: 50%;
}

.img-wrapper::before {
    content:"";
    position: absolute;
    inset: -9px;
    border: 6px solid rgba(0, 0, 0, 0.603);
    border-top-color:rgba(187, 187, 187, 0);
    border-bottom-color:#ababab00;
    border-radius: 50%;
    z-index: 50;
    animation: spin 5s linear infinite;
}

@keyframes spin{
    to{transform:rotate(-360deg);}
}