body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    text-align: justify;
    letter-spacing: 1.3px;
}
#color { 
    background-color: #00f7ff; 
    -webkit-transition: background-color 2s ease-out;  /* Saf3.2+, Chrome */
        -moz-transition: background-color 0.8s ease-out;  /* FF4+ */
        -ms-transition: background-color 0.8s ease-out;  /* IE10 */
        -o-transition: background-color 0.8s ease-out;  /* Opera 10.5+ */
            transition: background-color 0.8s ease-out;
}
/* --------------------------------------- */

.social-card {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    rotate: -90deg;
    top: 110px;
    left: -40px;
}
.social-card h1 {
    left: 5px;
}

/* --------------------------------------- */
.social-logo-ul {
    padding: 0;
    margin: 0;
    height: 170px;
    text-align: center;
    justify-content: center;
}
.social_logo {
    width: auto;
    height: 70px;
    margin-bottom: 38px;
    margin-top: 40px;
    text-align: center;
}
.social_logo img {
    border-radius: 50px;
    padding: 0;
    margin: 0;
    border: 1px solid #414141;
    box-shadow:  0 0 20px 5px #50505070;
}
.social_logo h1 {
    margin: 0;
    padding: 0;
}
/* -------------------------- */

.container-1 {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 500px;
}
 
.social {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0;
    height: 500px; 
    text-align: center;
    bottom: 50px;
}
/* n  0 - dan başlayır */
.social li:nth-child(1n+2) {
    width: 140px;
    height: 70px;
    background: rgba(238, 226, 226, 0);
    text-align: center;
}
.social li:nth-child(1n+2) p {
    margin: 5px 0 0 0;
    padding: 0;
}

/* ------- */
footer {
    width: 100%;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    text-align: justify;
    letter-spacing: 1.3px;
    text-align: center;
    margin: 2px auto;
    padding: 0;
    position: absolute;
    bottom: 2px;
}




@media screen and (max-height: 600px) {
    .social-logo-ul {
        display: none;
    }
    div {
        display: none;
    }
    footer {
        display: none;
    }
    .social-card {
        display: none;
    }
}
@media screen and (min-height: 600px) {
    .screen-error {
        display: none;
    }
}
@media screen and (max-height: 720px) {
    .container-1 {
        height: 380px;
        bottom: 20px;
    }
    .social {
        height: 330px; 
        text-align: center;
        bottom: 50px;
    }
}

.screen-error {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
